

<div class="row">
  <form action="/update/<%= @post.id %>" method="post" accept-charset="utf-8">

    <div>
      <span class="fa fa-pencil"></span><input type="text" class="edit_post" name="post[username]" value="<%=h @post.username %>"></input>
    </div>

    <div>
      <span class="fa fa-gears"></span><input type="text" class="edit_post" name="post[title]" value="<%=h @post.title %>"></input>
    </div>

    <div>
      <textarea id="edit_content" name="post[content]" value="<%=h @post.content %>"><%=h @post.content %></textarea>
    </div>
  
    <div>
      <span class="fa fa-cloud"></span><input type="text" class="edit_post" name="post[tags]" value="<%=h @post.tags %>"></input>
    </div>
    
    <button type="submit">UPDATE</button>
  </form>

  <a href="/post/<%= @post.id %>" class="back_button"><img src="/css/pics/back_arrow.gif"></img></a>
</div>