
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @page_title + ' | Practice' %></title>
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <header>

    <!-- Nav bar -->
    <div id="nav_wrap">
      <div id="nav">
        <ul>
          <li><a href="/">TITLE</a></li>
          <li><a href="/players">PLAYERS</a></li>
        </ul>
      </div>
    </div>

  </header>

  <div id="fixed_background">

    <div id="main_container">
      <h3><%= @page_title %></h3>
      <%= yield %> <!-- Insert new routes/pages -->
    </div>

  </div>
 
  <footer>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %>
    <% end %>
 
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %>
    <% end %>
  </footer>
</body>
</html>