
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%=h @page_title + ' | Galen' %></title>
  <link href="<%= url("/css/main.css")%>" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>

    <!-- Nav bar -->
    <div id="nav">
      <ul>
        <div id="logo"><span class="fa fa-leaf fa-5x"></span><a href="/"></a></div>
        <li><a href="/"><span class="fa fa-binoculars"></span>  ABOUT</a></li>
        <li><a href="/all"><span class="fa fa-comment"></span>  RECENT</a></li>
        <li><a href="/topics"><span class="fa fa-cloud"></span>  TOPICS</a></li>

        <div id="search">
          <form action="/search" method="get" accept-charset="utf-8">
            <div>
              <input type="text" id="search_content" name="query" placeholder="Search term&hellip;"></input>
            </div>
            <button type="search">SEARCH</button>
          </form>
        </div>
      </ul>

    </div>

  </header>


  <!-- Main Page Area -->
  <div id="main_container">
    <div id="title_div">
      <h3><%=h @page_title %></h3>
    </div>


    <!-- Content -->
    <div id="sub_container">
      
      <!-- Flash Messages -->
      <div id="flash_box">
        <% if flash[:notice] %>
          <p id="notice"><%=h flash[:notice] %></p>
        <% elsif flash[:error] %>
          <p id="error"><%=h flash[:error] %></p>
        <% else %>
          <p style="color: rgba(0, 0, 0, 0)">Invisible message filling!</p>
        <% end %>
      </div>

      <!-- Insert new routes/pages -->
      <%= yield %>

    </div>

    <div id="end_container">
      <p id="end_title">Sinatra Microblogger 2014</p>
      <div id="end_details">
        <p id="detail">Created by Galen Scovell</p>
        <p id="attribution">Font Awesome by Dave Gandy - http://fontawesome.io</p>
      </div>
    </div>
    
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/dynamic.js"></script>
</body>
</html>