
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @page_title + ' | Galen' %></title>
  <link href="<%= url("/css/main.css")%>" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>


    <!-- Nav bar -->
    <div id="nav">
      <div id="nav_blocker"></div>
      <ul>
        <div id="logo"><a href="/"></a></div>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/recent">RECENT</a></li>
        <li><a href="/topics">TOPICS</a></li>

        <div id="search">
          <form action="/search" method="post" accept-charset="utf-8">
              <div>
                <input type="text" id="search_content" value="" placeholder="Search term&hellip;" />
              </div>
              <button type="search">SEARCH</button>
            </form>
        </div>

      </ul>
    </div>

  </header>


  <!-- Main Page Area -->
  <div id="main_container">
    <div id="title_div">
      <h3><%= @page_title %></h3>
    </div>


    <!-- Content -->
    <div id="sub_container">
      <br>
      <br>
      <!-- Insert new routes/pages -->
      <%= yield %>

      <!-- Flash Messages -->
      <div id="flash_box">
        <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
        <% elsif flash[:error] %>
          <p id="error"><%= flash[:error] %></p>
        <% else %>
          <p style="color: rgba(0, 0, 0, 0)">Invisible message filling!</p>
        <% end %>
      </div>

    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/dynamic.js"></script>
</body>
</html>