
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @page_title + ' | Galen' %></title>
  <link href="<%= url("/css/main.css")%>" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="blocker" ></div>
  <header>


    <!-- Nav bar -->
    <div id="nav">
      <ul>
        <div id="logo"></div>
        <li id="red"><a href="/">MAIN</a></li>
        <li id="blue"><a href="/users">USERS</a></li>
        <li id="green"><a href="/recent">RECENT</a></li>
        <li id="yellow"><a href="/archive">ARCHIVE</a></li>
        <li id="purple"><a href="/">PORTFOLIO</a></li>
      </ul>
    </div>

  </header>


  <!-- Main Page Area -->
  <div id="main_container">
    <div id="title_div">
      <h3><%= @page_title %></h3>
    </div>


    <!-- Content -->
    <div id="sub_container">
      <br>
      <br>
      <!-- Insert new routes/pages -->
      <%= yield %>

      <!-- Flash Messages -->
      <div id="flash_box">
        <% if flash[:notice] %>
          <p id="notice"><%= flash[:notice] %></p>
        <% elsif flash[:error] %>
          <p id="error"><%= flash[:error] %></p>
        <% else %>
          <p style="color: rgba(0, 0, 0, 0)">Invisible message filling!</p>
        <% end %>
      </div>

    </div>
  </div>
  <script src="/js/jquery-1.11.1.min.js" ></script>
  <script src="/js/dynamic.js"></script>
</body>
</html>