
<article id="post_main">

  <div id="content_container">
    <div id="content_user">
      <p id="post_author"><%=h @post[:username] %></p>
    </div>

    <div id="content">
      <p id="post_content"><%=h @post[:content] %></p>
      <p id="post_tags"><span class="fa fa-cloud"></span> <%=h @post[:tags] %></p>
    </div>

    <div id="options_time">
      <div id="post_options">
        <a href="/edit/<%= @post.id %>"><img src="/css/pics/edit.gif"></img></a>
        <a href="/delete/<%= @post.id %>"><img src="/css/pics/delete.gif"></img></a>
      </div>
      <p id="post_time">Last Modified: <%= @post.modified %></p>
    </div>
  </div>

</article>

<div id="comment_section">
  <section id="add_comment">
    <form action="/comment/<%= @post.id %>" method="post" accept-charset="utf-8">
      <input type="text" id="add_comment_content" name="comment[content]"placeholder="Reply to <%= @post[:username] %>"></input>
      <input type="text" id="add_comment_author" name="comment[username]"placeholder="As&hellip;"></input>
      <button type="submit">REPLY</button>
    </form>
  </section>

  <% if !@comments.nil? %>
    <% @comments.each do |comment| %>
      <article id="comment_list">
        <div id="comment_content">
          <p id="comment_content_main"><%=h comment[:content] %></p>
        </div>
        <div id="comment_extra">
          <p id="comment_content_time"><%= comment[:date_time] %></p>
          <p><%=h comment[:username] %></p>
        </div>
      </article>
    <% end %>
  <% end %>
</div>